/*******************************TAGS SELECTORS*******************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p {
  line-height: 2;
}

h1 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #4CAF50;
  /* Green */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #66BFBF;
  font-weight: bolder;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

/*******************************CLASS SELECTORS*******************************/
.top-container {
  background-color: #D9DD6B;
  position: relative;
  padding: 80px;
}

.other-pages {
  position: absolute;
  right: 50px;
  top: 30px;
}

.Logo {
  position: absolute;
  top: 30px;
  right: 1050px;
  }

.About-us {
  background-color: #E4F9F5;
  border-radius: 8px;
  color: #4CAF50;
  /* Green */
  ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.Library {
  background-color: #E4F9F5;
  border-radius: 8px;
  color: #4CAF50;
  /* Green */
  ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.Your-Blog {
  background-color: #E4F9F5;
  border-radius: 8px;
  color: #4CAF50;
  /* Green */
  ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.kids-down {
  position: absolute;
  left: 80px;
  width: 150px;
}

.kids-up{
  position: absolute;
  margin-left: 500px;
  margin-top: 20px;
  width: 150px;
}

.construct {
  display: inline-block;
  margin-top: 80px;
}

.short-stories {
  font-family: 'Noto Serif Display', serif;
  color: #4CAF50;
  /* Green */
  font-size: 2.8rem;
  margin-top: 0px;
}

.ladder {
  width: 400px;
}

.middle-container {
  margin: 80px 0;
}

.Hello {
  height: 180px;
}

.intro {
  margin: auto;
  width: 30%
}

.skill-row {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.boy-reading {
  height: 190px;
  float: left;
  margin-right: 25px;
}

.Ask {
  height: 180px;
  float: right;
  margin-left: 25px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background-color: #4CAF50;
  /* Green */
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}

.btn:hover {
  background: #4CAF50;
  background-image: -webkit-linear-gradient(top, #4CAF50, #3498db);
  background-image: -moz-linear-gradient(top, #4CAF50, #3498db);
  background-image: -ms-linear-gradient(top, #4CAF50, #3498db);
  background-image: -o-linear-gradient(top, #4CAF50, #3498db);
  background-image: linear-gradient(to bottom, #4CAF50, #3498db);
  text-decoration: none;
}

.horizontal-line {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin-top: 100px auto;
}

.page-bottom {
  background-color: #D9DD6B;
  position: relative;
  height: 100px;
  margin-top: 60px;
  padding: 30px;
}

.footer-link {
  color: #11999E;
  position: relative;
  word-spacing: 10px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6
}

.copyrights {
  color: #4CAF50;
  position: relative;
  font-size: 12px;
  font-weight: bolder;
}

.footer-links {
  word-spacing: 40px;
  padding: 10px 0;
}
